// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files. Setting
// variables before Quasar's Stylus will use these variables rather than
// Quasar's default Stylus variable values. Stylus variables specific
// to the themes belong in either the variables.ios.styl or variables.mat.styl files.

// Check documentation for full list of Quasar variables


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding.


$primary   = #844D9E
$secondary = #F0A32F
$tertiary  = #88C542

$neutral   = #fbfafa
$positive  = #56B949
$negative  = #EE4035
$info      = #30499B
$warning   = #F3A530
@font-face
  font-family Quicksand
  src url(/css/themes/fonts/Quicksand-Regular.ttf)
