// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.


$primary   = #844D9E
$secondary = #F0A32F
$tertiary  = #88C542

$neutral   = #fbfafa
$positive  = #56B949
$negative  = #EE4035
$info      = #30499B
$warning   = #F3A530
